*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFCD9E;
    background-image: url(img.png) ;
    background-repeat: no-repeat;
    background-position: 700px 20px ; 

}


.flexbox-container1{
    display: inline-block;
    flex-wrap: wrap;

   
    
}

.flexbox-item1{
    color: #282828;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    height: 90px;
    width: 500px;
    padding: 0px;
    margin: 84px 120px 28px 136px;
    border: 0px solid black;
    box-sizing: border-box;
    
}

.flexbox-item2{
    color: #484848;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    height: 81px;
    width: 495px;
    padding: 0px;
    margin:  0px 187px 15px 136px;
    border: 0px solid black;
    box-sizing: border-box;
}

.flexbox-item3{
    color: #282828;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    height: 60px ;
    width: 227px;
    margin: 15px 455px 15px 136px;
    border: 0px solid black;
}


/* .flexbox-item4{
    height: 64px;
    width: 350px;
    margin: 15px 338px 4px 136px;
    border: 2px solid black;
} */

.box{
    display: flex;
    align-items: center;
    padding: 15px 106px 4px 136px;
    padding-left: 136px;

}

.registration input{
    border: 4px solid black;
    height: 45px;
    width: 300px;
    padding-left: 22px;
    border-radius: 10px;


}

.registration button{
    background-color: black;
    color: #FFF;
    height: 44px;
    width: 150px;
    border-radius: 10px;
    
}


.flexbox-item5{
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    text-align: center;
    padding-top: 20px;
    height: 61px;
    width: 344px;
    margin: 4px 340px 51px 100px;
    border: 0px solid black;
    
}

.footer{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 50px 15% ;
    background-color:var(--the-black, #282828);;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
}




.footer-col-2{
    text-align: right;
    padding-left: 500px;
    padding-bottom: 5px;
   
    
    
}






